section.article {

}

section.article article {
	padding-bottom: 3em;
}

section.article article .header {
	overflow: visible;
}

section.article article .header h1 {
	font-weight: 900;
	font-size: 3em;
	line-height: 1em;
	color: #040506;
}

section.article article .header .author {
	font-weight: 600;
	font-size: 1.5em;
	color: #040506;
}

section.article article .header .date {
	font-weight: 400;
	font-size: 1.5em;
	color: #717273;
}

section.article article .header .tags {

}

section.article article .header .tags .label {
	margin-top: 1em;
	padding: .3em .4em;
	color: #fff;
	background-color: #B2B2B2;
}


section.article article .contents {
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	padding: 1.5em;
}

section.article article .contents > div {
	margin-bottom: 5em;
}

section.article article .contents h2 {
	color: #414243;
	font-weight: 900;
	font-size: 2.2em;
	font-style: italic;
}

section.article article .contents h3 {
	color: #424242;
	font-weight: 900;
	font-size: 1.8em;	
}

section.article article .contents .cover-image img {
	width: 100%;
}

section.article article .contents p {
	color: #515253;
	font-size: 1.4em;
	letter-spacing: .5px;
	line-height: 1.5em;	
}

.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }

/* Article List Box */
section.article .article-list-box {

}