/* Articles List Box */

.article-list-box {
	position: relative;
}

.article-list-box h2 {
	font-weight: 900;
	font-size: 1.8em;
	color: #39D493;
	padding: 0;
	margin-top: -7px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
}

.article-list-box h2 i {
	position: absolute;
	font-size: .6em;
	color: #aaa;
	display: block;
	right: .2em;
	top: .5em;
}

.article-list-box h2 i:hover {
	color: black;
}

.article-list-box ul {
	/*max-height: 540px;
	overflow: scroll;*/
}

/*.article-list-box ul:after {
    content: '';
    float: left;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 85%,rgba(255,255,255,.75) 90%,rgba(255,255,255,.75) 99%);
	opaCities: .9;
	pointer-events: none;
	border-bottom: 1px solid #F5F5F5;
}*/

.article-list-box ul li {
	overflow: hidden;
	background-color: #fff;
	padding: 3.3%;
	border-bottom: 1px solid #F5F5F5;
}

.article-list-box ul li div:nth-child(1) {
	overflow: hidden;
}

.article-list-box ul li div:nth-child(2).thumb {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #eee;
}

.article-list-box ul li div:nth-child(3).with-thumb {
	float: right;
	width: calc(100% - 60px);
}

.article-list-box ul li div.city.label {
	float: left;
	padding: .3em .4em;
	color: #fff;
	background-color: #B2B2B2;
}

.article-list-box ul li span.hours {
	float: right;
	font-size: .85em;
	color: #D0D0D0;
}


.article-list-box ul li a {
	float: left;
	display: block;
	margin-top: .4em;
	width: 100%;
}

.article-list-box ul li a.title {
	font-size: 1.2em;
	color: #424242;
	line-height: 1.1em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.article-list-box ul li a.title:hover {
	text-decoration: underline;
}

.article-list-box ul li a.publisher {
	font-size: .9em;
	color: #929292;
}
