* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup,
nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: black;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
}

a, a * {
    transition: all .15s ease-in-out
}

/* Util */

.inline-block  {
    display: inline-block;
}

.clearfloat {
    clear: both;
}

.ui.fb-blue.label {
    background-color: #3D5B94;
    color: #fff;
}

.ui.tw-blue.label {
    background-color: #5DAEE9;
    color: #fff;
}

.ui.ig-blue.label {
    background-color: #437597;
    color: #fff;
}

.ui.pi-red.label {
    background-color: #C72632;
    color: #fff;
}

.ui.gp-red.label {
    background-color: #DB4D44;
    color: #fff;
}

.ui.travelog.button {
    background-color: #39D493;
    color: #fff;
}

i.travelog.icon {
    background-image: url('/images/icons/Flat_Icon_60.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 12px;
    min-height: 12px;
}

/* Header */

header {
    width: 100%;
    min-width: 900px;
    height: 90px;
    background-color: #39D493;
    text-align: center;
    margin: auto;
    position: fixed;
    z-index: 100;
}

header .wrapper {
    width: 100%;
    max-width: 1240px;
    display: table;
    height:100%;
    margin: auto;
}

header .wrapper div {
    display: table-cell;
    vertical-align: middle;
}

header .wrapper .logo-box .img {
    width: 208px;
    height: 55px;
    border: 0;
}

header .wrapper .logo-box .slogan {
    content:url('data:image/gif;base64,R0lGODlhAQABAHAAACH5BAUAAAAALAAAAAABAAEAAAICRAEAOw==');
    border-style: none;
    display: inline-block;
    width: 190px;
    height: 55px;
    margin-left: 8px;
    background-image: url('/images/slogan@2x.png');
    background-size: 190px 12px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .wrapper .logo-box {
    text-align: left;
}

header .wrapper .right-box {
    text-align: right;
}

header .wrapper .right-box * {
    display: inline-block;
}

/* Links */
header .wrapper .right-box a {
    font-weight: 800;
    color: #39D493;
}

header .wrapper .right-box a.label {
    background-color: #fff;
}

header .wrapper .right-box a i {
    font-style: normal;
}

header .wrapper .right-box a i.icon {
    width: 1.1em;
    height: 1.1em;
    color: #39D493;
    font-size: 1em;
}

header .wrapper .right-box a i.icon:hover {
    color: #000;
}

/* Signin Button */
header .wrapper .ui.signin.button {
    background-color: #fff;
    color: #39D493;
    margin-right: 0;
    margin-left: .2em;
}

header .wrapper .ui.signin.button:hover {
    color: #000;
}


/* Profile button */
header .wrapper .divider {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    background-color: rgba(255,255,255,.5);
    margin-left: .5em;
    margin-right: 1em;
}

header .wrapper .profile.image {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

header .wrapper .profile.name {
    color: white;
    background-color: rgba(255,255,255,0);
    margin-right: 0;
    margin-top: .1em;
    font-weight: bold;
}

header .wrapper .dropdown.icon {
    color: white;
}

header .wrapper .profile.ui .menu {
    left: auto;
    right: 0;
}


/* Header - Sign in Modal */

.signin.ui.dimmer {
    overflow: scroll;
    background-color: rgba(0,0,0,.9);
}


.signin.ui.dimmer > .content {
    width: 720px;
    margin: auto;
}

.signin.ui.dimmer .center .logo {
    width: 80px;
    height: auto;
}

.signin.ui.dimmer .center h2 {
    font-size: 2.4em;
}

.signin.ui.dimmer .center > div {
    margin-bottom: 30px;
}

.signin.ui.dimmer .center p.promote {
    font-size: 1.15em;
    line-height: 1.5em;
    padding: 0 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #eee;
}

.signin.ui.dimmer .center p.extra {
    color: #aaa;
    font-size: .9em;
}

.signin.ui.dimmer .ui.button {
    width: 40%;
}

.signin.ui.dimmer .ui.facebook.button {
    margin-bottom: 10px;
}

.signin.ui .email-sign-box {
    display: none;
    margin-top: 20px;
}

.signin.ui .email-sign-box .ui.button {
    width: 30%;
    background-color: #39D493;
    color: #fff;
}

.signin.ui .email-sign-box .ui.input {
    width: 30%;
}

.signin.ui .email-sign-box .ui.input input {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
}

.signin.ui .email-sign-box > div {
    display: block;
    margin-bottom: 10px;
}





/* Navigation */

nav {
    width: 100%;
    min-width: 900px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    margin: auto;
    box-shadow: 0px 3px 2px rgba(0,0,0,.05);
    position: fixed;
    top: 90px;
    z-index: 90;
}

nav .wrapper {
    width: 100%;
    max-width: 1240px;
    display: table;
    height:100%;
    margin: auto;    
}

nav .wrapper .container {
    display: table-row;
    width: 100%;
    height: 60px;
}

nav .wrapper .container a {
    display: table-cell;
    vertical-align: middle;
    font-weight: 900;
    font-family: 'Lato';
    font-style: normal;
    font-size: 1.5em;
    color: #424242;
    border: 1px solid rgba(0,0,0,0);
}

nav .wrapper .container a:hover {
    color: #39D493;
}

nav .wrapper .container a.cities {
    width: 140px;
    border-left: solid 1px #F0F0F0;
    border-right: solid 1px #F0F0F0;
}

nav .wrapper .container a.cities i {
    color: #39D493;
}

nav .wrapper .container a.bloggers {
    padding-left: 40px;
    width: 194px;
    text-align: left;
}

nav .wrapper .container a.empty {

}

nav .wrapper .container a.search {
    width: 60px;
    color: #929292;
    border-left: solid 1px #F0F0F0;
    border-right: solid 1px #F0F0F0;
}

nav .wrapper .container a.search:hover {
    color: #424242;
}

nav .wrapper .city-list {
    width: 100%;
    max-width: auto;
    text-align: left;
}

nav .wrapper .city-list h4 {
    color: #a2a2a2;
    font-weight: normal;
    font-size: 1.8em;
    padding-left: 5px;
}

nav .wrapper .city-list ul {
    overflow: hidden;
}

nav .wrapper .city-list ul li {
    width: 33%;
    float: left;
    padding-left: 5px;
}

nav .wrapper .city-list ul li a {
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
}

nav .wrapper .city-list ul li a span:nth-child(1) {
    color: #424242;
    font-size: 1.2em;
    font-weight: bold;
}

nav .wrapper .city-list ul li a span:nth-child(2) {
    display: block;
    color: #aaa;
    font-size: .8em;
    font-weight: normal;
}

nav .wrapper .city-list ul li a:hover, nav .wrapper .city-list ul li a:hover * {
    color: #39D493;
}


/* Content */

#bodyLoading {
    position: fixed;
    top: calc(90px + 60px);
    padding-top: calc(90px + 60px);
    background-color: rgba(255,255,255,1);
    z-index: 80;
}

.body_wrapper {
    min-height: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: calc(90px + 60px);
}

main {
    min-height: 100%;
    background-color: #f5f5f5;
    text-align: left;
    margin-bottom: -310px; 
}

main:after {
    content: "";
    display: block;
}

main section {
    background-color: #f5f5f5;
    padding-top: 30px;
}

main section .wrapper {
    max-width: 1240px;
    min-width: 900px;
    margin: auto;
    overflow: hidden;
}

.left-container {
    width: 76%;
    float: left;
    padding-right: 2%;
}


.right-container {
    min-width: 24%;
    overflow: hidden;
}

main .ui.dimmer, main .ui.loader{
    z-index: 10;
}


/* Sticky Footer */

footer, main:after {
    height: 310px;
}


/* Footer */

footer {
    background-color: #F5F5F5;
}

footer .wrapper {
    max-width: 1240px;
    min-width: 900px;
    margin: auto;
    overflow: hidden;
}

footer .wrapper .copyright-box {
    overflow: hidden;
    min-width: 338px;
    padding: 20px;
    padding-top: 40px;
}

footer .wrapper .app-ad-box {
    overflow: hidden;
    float: right;
    width: calc(100% - 338px);
    min-width: calc(900px - 40px - 338px);
    min-height: 310px;
    background-image: url('/images/footer_app_ad.jpg');
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: 0 30px;
    position: relative;
}

footer .wrapper .app-ad-box ul {
    position: absolute;
    top: 70px;
    left: 52%;
    width: 46%;
    max-width: 350px;
    padding-top: 40px;
}

footer .wrapper .app-ad-box ul li {
    font-weight: 900;
    font-size: 1.4em;
    color: #424242;
}

footer .wrapper .app-ad-box ul li:before {
    color: #39D493;
}

footer .sns-box, footer .subscribe-box {
    float:left;
    margin: auto;
}

footer .wrapper .copyright-box h3 {
    color: #727272;
    font-size: 1.3em;
}

footer .wrapper .sns-box {
    padding-bottom: 10px;
}

footer .wrapper .copyright-box .subscribe-box .input {
    display: inline-block;
}

footer .wrapper .copyright-box .subscribe-box .subscribe.button {
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
}

footer .link-box {
    margin-top: -7px;
}

footer .link-box a {
    color: #424242;
    font-size: .9em;
}

footer .link-box span {
    display: inline-block;
    padding: 0 5px;
    color: #E5E5E5;
}

footer .link-box address {
    color: #727272;
    font-style: normal;
    font-size: .9em;
    padding-top: 5px
}


/* Page Loading Indicator */
#pageLoading {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Responsive */
@media only screen and (max-width: 960px) {
    .left-container { width: 100%; padding-right: 0}

    .right-container > div { width: 50%; height: 60%; float:left;}
    .right-container > div:first-child { width: 100%; float: none;}
}
