/* Landing / prefix : ld */

section h2 {
	color: #39D493;
	font-weight: 900;
	font-size: 2em;
}

.content section:first-child {
	background-color: #f5f5f5;
}


/* Recommended Article Box */

.recommended-article-box {
	position: relative;
	height: 520px;
	width: 100%;
	overflow: visible;
	background-color: #fff;
}

.recommended-article-box .title.label {
	position: absolute;
	top: 0;
	left: 0;
	width: 0; 
	height: 0; 
	border-top: 0 solid transparent;
	border-bottom: 120px solid transparent;
	border-left: 120px solid #39D493;
	color: white;
}

.recommended-article-box .title.label::after {
	content: 'Editor`s \A Pick';
	white-space: pre;
	position: absolute;
	top: 10px;
	left: -110px;
	font-size: 1.4em;
	line-height: 1.2em;

}

.recommended-article-box .ui.active.dimmer {
	z-index: auto;
}

.recommended-article-box .container {
	
}

.recommended-article-box .container .item {
	display: block;
	background-color: #eee;
	font-size: 3em;
	width: 100%;
	min-height: 520px;
	float: left;
	margin-bottom: 1%;
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.recommended-article-box .container .item:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*.recommended-article-box .container .item:first-child {
	font-size: 3em;
	width: 100%;
	height: auto;
	min-height: 520px;
	margin-right: 1%;
}*/

.recommended-article-box .container .item img {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
}

.recommended-article-box .container .item .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(152,152,152,0) 40%, rgba(23,23,23,.75) 90%, rgba(0,0,0,.75) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(152,152,152,0)), color-stop(90%,rgba(23,23,23,.75)), color-stop(99%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* W3C */
	opaCities: .9; 
}

.recommended-article-box .container .item a {
	position: absolute;
	left: 6.1%;
	bottom: 10%;
	padding-right: 6.1%;
	line-height: 1.1em;
}


/* Recommended Article Label Style */

.recommended-article-box .ui.label {
	font-size: .4em;
	font-weight: 700;
	margin-bottom: 5px;
	border-color: rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.5);
	color: rgba(255,255,255,.5);

}

/* Recommended Article Title Style */

.recommended-article-box .container .item a span {
	font-weight: 900;
	color: #fff;
	text-shadow: 0px 1px rgba(0,0,0,.5);
}

.recommended-article-box .container .item a span:hover {
	color: #39D493;
}


/* Cities Box */

.cities-box {
	padding-top: 40px;
	padding-bottom: 40px;
}

.cities-box .container {
	position: relative;
}

.cities-box .container .ui.active.dimmer {
	z-index: auto;
}

.cities-box ul {
	overflow: hidden;
}

.cities-box ul li {
	float: left;
	background-color: #fff;
	min-width: 32.65%;
	margin-right: 1%;
	margin-bottom: 1%;
	min-height: 305px;
}

.cities-box ul li:nth-child(3n) {
	margin-right: 0;	
}

.cities-box ul li a {
	position: relative;
	display: block;
	height: 305px;
}

.cities-box ul li a div.bg {
	min-height: 220px;
	background-color: #eee;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .75;
}

.cities-box ul li a:hover div.bg {
	opacity: 1;
}

.cities-box ul li a span {
	position: absolute;
	left: 5%;
	bottom: 3.5%;
	font-size: 2em;
	font-weight: 900;
	line-height: 1em;
	color: #39D493;
}


/* Video Section */

section.video {
	background-color: #000;
	padding-bottom: 40px;
	min-height: 500px;
	position: relative;
}

section.video h2 {
	color: #39D493;
	font-weight: 900;
	font-size: 2em;
}

section.video .left-container {
	position: relative;
	padding-right: 0;
	width: 74%;
	border-left: 10px solid #424242;
	border-top: 10px solid #424242;
	border-bottom: 10px solid #424242;
	padding-top: 1px;
	padding-bottom: 1px;
}

section.video .right-container {
	min-width: 26%;
	border-right: 10px solid #424242;
	border-top: 10px solid #424242;
	border-bottom: 10px solid #424242;
}

/* Embed Box */

section.video .embed-box {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	min-height: 500px;
	padding: inherit;
}

section.video .embed-box, section.video .embed-box .embed, section.video .embed-box .embed iframe{
	min-height: 500px;
}

/* Video Section -  Video Play Box */

.video-play-box {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	min-height: 500px;
}

.video-play-box .container {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(152,152,152,0) 40%, rgba(23,23,23,.75) 90%, rgba(0,0,0,.75) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(152,152,152,0)), color-stop(90%,rgba(23,23,23,.75)), color-stop(99%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,.75) 90%,rgba(0,0,0,.75) 99%); /* W3C */
	opaCities: .9; 
	min-height: inherit;
}

.video-play-box .container > div {
	position: absolute;
	left: 40px;
	bottom: 40px;
	width: calc(100% - 90px);
}

.video-play-box .play-button {
	border-radius: 50%;
	background-color: #39D493;
	behavior: url(PIE.htc); /* IE8 */
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	width: 110px;
	height: 110px;
	margin: 5px;
	margin-right: 30px;
	position: relative;
	float: left;
}

.video-play-box .play-button i {
	color: #fff;
	position: absolute;
	top: -9.9px;
	left: -24px;
	margin: auto;
	font-size: 129px;
}

.video-play-box .title {
	padding: 10px;
	font-size: 3.5em;
	font-weight: 900;
	color: #f6f5f6;
	text-shadow: 0px 1px rgba(0,0,0,.25);
	line-height: 1em;
}

/* Video Section - Video List Box */

.video-list-box {
	border: 1px solid rgba(0,0,0,0);
	position: relative;
}

.video-list-box ul {
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

.video-list-box ul:after {
    content: '';
    float: left;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none; /* FF, Safari, Chrome */
}

.video-list-box ul li {
	width: 100%;
	height: 100px;
	margin: 0;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border-top: 1px solid #222;
	background-color: #424242;
}

.video-list-box ul li.selected {
	background-color: #092E17;
}

.video-list-box ul li:first-child {
	border: 0;
}

.video-list-box ul li div {
	width: calc(100% - 125px);
	height: 100px;
	float: left;
}

.video-list-box ul li div:first-child {
	width: 125px;
}


.video-list-box ul li .img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 134%;
	opacity: .9;
}

.video-list-box ul li .img .play {
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(23,23,23,0) 75%, rgba(0,0,0,.75) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(23,23,23,0)), color-stop(99%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0,rgba(23,23,23,0) 75%,rgba(0,0,0,.75) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0,rgba(23,23,23,0) 75%,rgba(0,0,0,.75) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0,rgba(23,23,23,0) 75%,rgba(0,0,0,.75) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0,rgba(23,23,23,0) 75%,rgba(0,0,0,.75) 99%); /* W3C */
}

.video-list-box ul li .img .play img {
	width: 50%;
	position: relative;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.video-list-box ul li.selected .img .play img {
	opacity: 1;
}

.video-list-box ul li:hover .img {
	opacity: 1;
}

.video-list-box ul li:hover .title {
	color: #2dd591;
}

.video-list-box ul li .title {
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 1px rgba(0,0,0,.75);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	 -webkit-transform : translateY(-50%);
	 -ms-transform: translateY(-50%);;
	padding: 15px;
	height: auto;
}


/* Responsive */
@media only screen and (max-width: 960px) {
    /*.video-list-box ul li { float: left; width: 25%; }*/
}
