/* Newsfeed Section */

section.newsfeed h2 {
	color: #39D493;
	font-weight: 900;
	font-size: 2em;
}

section.newsfeed {
	border-bottom: 1px solid #f5f5f5;
	height: auto;
	background-color: #424242;
	padding-bottom: 30px;
	display: relative;
}

section.newsfeed .ui.video.modal {
	visibility: hidden;
}

section.newsfeed ul {
	overflow: hidden;
}

section.newsfeed ul li {
	width: calc(20% - 8px);
	display: block;
	float: left;
	margin-bottom: 1%;
	padding-bottom: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}

section.newsfeed ul li:nth-child(1),
section.newsfeed ul li:nth-child(2),
section.newsfeed ul li:nth-child(3),
section.newsfeed ul li:nth-child(4),
section.newsfeed ul li:nth-child(5) {
	/*border-top: 0;*/
}

section.newsfeed ul li .city {
	overflow: hidden;
	padding: 10px;
}

section.newsfeed ul li .city span {
	float: left;
	font-size: 1.3em;
	font-weight: 900;
	color: #727272;
	/*padding: 0 0 10px;*/
}

section.newsfeed ul li .city i {
	float: right;
	font-size: 1.1em;
	color: #B2B2B2;
	margin: 5px 0 0 0;
	margin-right: 0;
}

section.newsfeed ul li .img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	background-color: #eee;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0);
}

section.newsfeed ul li .img img {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.newsfeed ul li .img i {
	color: rgba(0,0,0,.25);
	position: relative;
	top: 50%;
	width: 100%;
	display: block;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: center;
	font-size: 2em;
}

section.newsfeed ul li .title .label {
	font-weight: normal;
	padding: .3em .4em;
	color: #fff;
	background-color: rgba(0,0,0,.25);
	margin: 10px 0 5px;
}

section.newsfeed ul li .title {
	color: #424242;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: .5px;
	padding: 0 10px;
}

section.newsfeed ul li .title span {
	margin-bottom: 5px;
}

section.newsfeed ul li .title a.publisher {
	font-size: .9em;
	color: #929292;
	display: block;
	font-weight: normal;
}

section.newsfeed ul li .message {
	font-size: 1em;
	font-weight: normal;
	color: #aaa;
	overflow: hidden;
	word-break: break-all;
	max-height: 200px;
	padding: 0 10px 5px;
}

section.newsfeed ul li.article .img,
section.newsfeed ul li.rss .img {
	height: 150px;
}

section.newsfeed ul li .username {
	font-size: .9em;
	font-weight: normal;
	/*color: #aaa;*/
}

section.newsfeed ul li .description {
	font-size: 1em;
	font-weight: normal;
	color: #aaa;
	overflow: hidden;
	padding: 0 10px 5px
}

section.newsfeed ul li .tool {
	padding: 5px 10px 0;
	text-align: right;
}

section.newsfeed ul li .tool a:first-child {
	color: rgba(175,175,175,.25);
	float: left;
	margin-right: 5px;
}

section.newsfeed ul li .tool a {
	position: relative;
	overflow: hidden;
}

section.newsfeed ul li .tool a i {
	position: relative;
	left: 0;
	top: 0;

}

section.newsfeed ul li .tool a:first-child:hover {
	color: crimson;
}

section.newsfeed ul li .tool a:first-child:active i {
	top: 2px;
}

section.newsfeed ul li .tool a:nth-child(2) {
	color: rgba(175,175,175,.25);
	float: left;
}

section.newsfeed ul li .tool a:nth-child(2):hover {
	color: rgba(0,0,0,.5);
}

section.newsfeed ul li .tool a:nth-child(2):active i {
	top: 2px;
}

section.newsfeed ul li .tool a:nth-child(3){
	font-weight: normal;
	font-size: .8em;
	color: rgba(175,175,175,.5);
	text-decoration: underline;
	float: right;
}

/* SNS Items Style */
section.newsfeed ul li.sns {
	background-color: #727272;
	border: 0;
}

section.newsfeed ul li.sns .city span {
	color: #f6f5f6;
}

section.newsfeed ul li.sns .img {
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}

section.newsfeed ul li.sns .img img {
	box-shadow: 0px 0px 3px rgba(0,0,0,0);
}

/* SNS - Facebook Item Style */
section.newsfeed ul li.sns.facebook .img {
	box-shadow: inset 0px 0px 2px rgba(0,0,0,.25);
	height: 150px;
	margin: 0 10px 5px;
}

/* SNS - Twitter Item Style */
section.newsfeed ul li.twitter .title .label {
	margin: 0;
}

section.newsfeed ul li.twitter .description a {
	color: #aaa;
}

section.newsfeed ul li.twitter .description a:hover {
	color: #03a966;
}

section.newsfeed ul li.sns.twitter .img {
	margin: 5px 10px 0;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,.5);
	width: auto;
	padding-bottom: calc(100% - 20px);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/* YouTube Item Style */
section.newsfeed ul li.youtube .img {
	height: 125px;
}

section.newsfeed ul li.youtube .img a {
	opacity: .75;
}

section.newsfeed ul li.youtube .img a:hover {
	opacity: 1;
}

section.newsfeed ul li.youtube .img img {
	width: 76px;
	height: auto;
	position: relative;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Article Item Style */
section.newsfeed ul li.article .img,
section.newsfeed ul li.rss .img {
	margin: 0 10px;
}


/* Responsive */
@media only screen and (max-width: 1024px) {
    section.newsfeed ul li { width: calc(25% - 7.5px); }
}

