/* Download App Box */

.download-app-box {
	background-color: #39D493;
	padding: 6.7%;
	padding-top: 44%;
	margin-bottom: 5%;
	margin-top: 15%;
	text-align: center;
	background-image: url('/images/app_promote_icon@2x.png');
	background-repeat: no-repeat;
	background-size: 47% auto;
	background-position: 50% 10%;
}

.download-app-box a {
	display: block;
}

.download-app-box span {
	display: block;
	color: #fff;
	font-weight: 900;
	margin: auto;
}

.download-app-box span.title {
	font-size: 1.5em;
	letter-spacing: .05em;
	margin-bottom: 1.3%;
	line-height: 1em;
}

.download-app-box span.description {
	font-size: 1.14em;
	letter-spacing: .05em;
	line-height: 1.14em;
	margin-bottom: 6%;
}

.download-app-box .ui.button {
	display: block;
	background-color: #fff;
	border-color: #fff;
	color: #39D493;
	font-size: 1.4em;
	font-weight: 900;
	padding: 12px 5px;
}

.download-app-box .ui.button * {
	color: #39D493;
	display: inline-block;
}

.download-app-box .ui.button i {
	font-size: 1.1em;
}


/* Subscribe Box */

.subscribe-promote-box {
	background-color: #fff;
	padding: 6.7%;
	padding-top: 45.7%;
	text-align: center;
	background-image: url('/images/subscribe_promote_icon@2x.png');
	background-repeat: no-repeat;
	background-size: 27% auto;
	background-position: 50% 15%;
}

.subscribe-promote-box span {
	display: block;
	color: #39D493;
	font-weight: 900;
}

.subscribe-promote-box span.title {
	font-size: 1.6em;
	letter-spacing: .05em;
	margin-bottom: 1.3%;
}

.subscribe-promote-box span.description {
	font-size: 1.05em;
	letter-spacing: .05em;
	line-height: 1.2em;
	margin-bottom: 6%;
}

.subscribe-promote-box .ui.button {
	display: block;
	background-color: #39D493;
	border-color: #39D493;
	color: #fff;
}

.subscribe-promote-box .input {
	width: 100%;
	margin-bottom: 3%;
}

.subscribe-promote-box .input input {
	border: 1px solid #39D493;
}


/* Responsive */
@media only screen and (max-width: 960px) {
	.download-app-box, .subscribe-promote-box {
		padding-top: 25%;
		height: 429px;
	}	
}