    <!-- Section 1 -->
    <section>
        <div class="wrapper">
            <div class="left-container">
                <div class="recommended-article-box">
                    <!-- Topic Box will be injected here -->
                </div>
                <div class="cities-box">
                    <div class="container">
                        <!-- Cities Box will be injected here -->
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="popular-now-box">
                    <h2>POPULAR NOW<a href="#"><i class="refresh icon"></i></a></h2>
                    <div class="container">
                    <!-- Popular Box will be injected here -->
                    </div>
                    
                </div>
                <div class="download-app-box">
                    <span class="title">DOWNLOAD OUR APP</span>
                    <span class="description">HERE'S A SHORTCUT TO THE BEST PLACE TO STAY, EAT<br/> AND PLAY IN ASIA</span>
                    <div class="ui button">
                        <i class="apple icon"></i>GET THE APP
                    </div>
                </div>
                <div class="subscribe-promote-box">
                    <span class="description">SUBSCRIBE TO OUR NEWSLETTER & RECIEVE UPDATES RIGHT IN YOUR INBOX!</span>
                    <div class="ui mini left icon input">
                        <input type="text" placeholder="Email address">
                        <i class="mail icon"></i>
                    </div>
                    <div class="ui travelog tiny subscribe button">SUBSCRIBE</div>
                </div> 
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section class="video">
        <!-- Main Video Box will be injected here -->
    </section>


    <!-- Section 3 -->
    <section class="newsfeed">
        <!-- News Feed Box Module will be injected here -->
    </section>